<%= form_for(@user) do |f| %>
  

  <div class="actions">
    <%= f.text_field :name, :placeholder => "Nombre completo "%>
    <%= f.text_field :username, :placeholder => "Nombre de usuario"%>
    <%= f.password_field :secret,:placeholder => "Contraseña" %></p>
    <%= f.password_field :secret_confirm,:placeholder => "Confirme contraseña"%> </p>

    <%= f.submit :Registrarse, :class => "rc-button rc-button-submit" %>
  </div>
<% end %>
