<%= form_for(@item) do |f| %>
   <% if flash[:alert] %>
        <h2 class="notice"><%= flash[:alert] %></h2>
   <% end %>

    <%= f.text_field :description,  :placeholder => "Descripción del articulo"%><br/>
    <%= f.text_field :sale,  :placeholder => "Precio Venta"%><br/> 
    <%= f.text_field :cost,  :placeholder => "Costo"%><br/>
    <%= f.text_field :code,  :placeholder => "Código de barras"%><br/> 
    <%= f.text_field :category,  :placeholder => "categoria"%><br/> 
    <input type="hidden" name="item[stock]" value="0">
    <input type="hidden" name="item[hush]" value="uasd">
    <input type="hidden" name="item[rank]" value="0">
    <input type="hidden" name="item[last_check]" value="2015-01-09T10:39:19.177Z" >
    <%= f.submit :Guardar, :class => "rc-button rc-button-submit" %><br/>
<% end %>
